/src/Servers/PromotionCenter/.vs
/src/Servers/PromotionCenter/Promotion.API/bin
/src/Servers/PromotionCenter/Promotion.API/obj
/src/Servers/PromotionCenter/Promotion.Data/bin
/src/Servers/PromotionCenter/Promotion.Data/obj
/src/Servers/PromotionCenter/Promotion.Data/Migrations
/src/Servers/PromotionCenter/Promotion.Domin/bin
/src/Servers/PromotionCenter/Promotion.Domin/obj
/src/Servers/PromotionCenter/Promotion.Common/bin
/src/Servers/PromotionCenter/Promotion.Common/obj
/src/Servers/PromotionCenter/Promotion.Service/bin
/src/Servers/PromotionCenter/Promotion.Service/obj
/促销中心v1.pdf
/促销中心v2.pdf
