/src/Servers/PromotionCenter/.vs
/src/Servers/PromotionCenter/Promotion.API/bin
/src/Servers/PromotionCenter/Promotion.API/obj
/src/Servers/PromotionCenter/Promotion.Data/bin
/src/Servers/PromotionCenter/Promotion.Data/obj
/src/Servers/PromotionCenter/Promotion.Data/Migrations
/src/Servers/PromotionCenter/Promotion.Domin/bin
/src/Servers/PromotionCenter/Promotion.Domin/obj
